* {
  word-wrap: break-word;
}
.slider-section {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100vh;
}

.slider-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.slide-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.slide-text p {
  font-size: 1.2rem;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#prevBtn {
  left: 20px;
}

#nextBtn {
  right: 20px;
}

/* hero section */

.hero-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.hero-btn-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hero-text-detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 2.2rem;
}
.h {
  width: 1rem;
  /* height: 1rem; */
}
.v {
  /* width: 1rem; */
  height: 1rem;
}

.hero-text-detail h2 {
  text-align: left;
}
.hero-description {
  text-align: left;
  align-content: center;
}
.hero-img-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.round-btn {
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: 0.5px 0.5px 6px 1px rgb(102, 102, 102);
  height: 50px;
}
.food {
  color: #39db4a;
}
.bt {
  text-align: center;
}

.dishes-sections {
  padding: 1rem 1.5rem;
}

.dishes-card {
  padding: 0 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* width: 90vw; */
}
.card {
  width: 20rem;
  cursor: pointer;
  border-radius: 15px;
  padding: 1rem 0;
  margin: 15px 0;
  box-shadow: 0.5px 0.5px 7px 1px rgb(85, 85, 85);
}
.card-description {
  color: #555555;
  text-align: justify;
}
.card-img {
  display: flex;
  justify-content: center;

  align-items: center;
}
.card-body {
  padding: 0px 1rem;
}
.price,
.r-value {
  font-weight: bold;
}
.currency {
  font-weight: bold;
  color: #ff6868;
}
.trailing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-title {
  font-size: 2.3rem;
  width: 30%;
}

/* about sections */
.about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-evenly; */
}
.img-section {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Catagories-images {
  display: flex;
  flex-direction: row;
  padding: 0 3rem;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}
.content-section {
  width: 50%;
  padding: 5px 7rem;
}
.catagories-section {
  padding: 2rem 5rem;
}
.catagories-section-title {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.content-section .content-description {
  /* width: 50%; */
  font-size: 1.2rem;
  color: #555555;
}
.content-title h2 {
  font-size: 2.5em;
}
.img-section img {
  width: 50%;
}
.cat-img {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }
  .hero-text-detail {
    width: 100%;
  }
  .hero-img-side {
    width: 100%;
  }
  .dishes-card {
    flex-direction: column;
  }
  .section-title {
    width: 100%;
  }
  .section-title {
    font-size: 1.5rem;
    word-wrap: break-word;
  }
  .card {
    width: 100%;
  }
  .about-section {
    flex-direction: column;
  }
  .content-section {
    padding: 10px 5px;
    width: 100%;
  }
  .img-section {
    width: 100%;
  }
  .content-title h2 {
    font-size: 2rem;
  }
  .Catagories-images {
    padding: 2rem 0;
    flex-direction: column;
  }
  .cat-img img {
    width: 100%;
  }
  .catagories-section {
    padding: 2rem 0;
  }
}
